<footer>
    <div class="locations">
        <div class="location">
            <p class="city-tag">ZD</p>
            <p class="address">Kalelarga 1</p>
        </div>
        <div class="location">
            <p class="city-tag">ST</p>
            <p class="address">Marmontova ulica 6</p>
        </div>
        <div class="location">
            <p class="city-tag">DU</p>
            <p class="address">Stradun 7</p>
        </div>
    </div>
    <div class="version">@2022</div>
</footer>