<%- include('layout/header.ejs') %>	

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href="/styles/main.css" />
   <title>Adding products</title>
   <script>
      const highlightErrors = () => {
         const allElements = document.getElementsByClassName("input-area");

         for (const element of allElements) {
            text = element.getAttribute('id');
            var errParam = document.getElementById('errParam').innerHTML;
            if(errParam.includes(text)) {
               element.classList.add("error-occured");
            } else {
               element.classList.remove("error-occured");
            }
         }
      }
   </script>
</head>
<body  onload="highlightErrors()">
   <h1>Add product</h1>
   <%- include('partials/addProduct.ejs') %>	
</body>
</html>

<%- include('layout/footer.ejs') %>