<% if(typeof(errMsg) != 'undefined') { %>
   <div class="error">
      <div>Error!</div>
      <% for (msg of errMsg) { %> 
      <div><%= msg%> </div>
      <% } %> 
   </div>
   <div id="errParam" class="hidden"><%=errParam %> </div>
<% } %>